/*========================================================POUR TOUTE LA PAGE=====================================================*/

*{
    margin: 0; /* enlever les marges*/
    padding: 0; /* enlever les marges*/   
    font-family: serif; /* la police de la page*/
    box-sizing: border-box; /* pour que la taille de la page soit la meme*/  
}
body{ 
    background-color:  rgb(120, 120, 121); /* la couleur de fond de la page*/
    padding: 20px; /* espace autour du contenu */
}

/*========================================================POUR L'ENTÊTE=====================================================*/

header{
    background-color: rgb(39, 39, 39); /* la couleur de fond de l'entete*/
    padding: 30px 20px 30px 20px; /* l'espace entre le texte et le bord de l'entete*/
    display: flex; /* pour aligner les éléments sur la même ligne */
    align-items: center; /* centre verticalement les éléments */
    justify-content: space-between; /* espace entre les éléments */
}
/*mise en forme du nav*/
nav a {
    color: white; /* couleur du texte */
    font-style: italic; /* style de la police */
    font-size: x-large; /* taille de la police */
    text-decoration: none; /* enlever le soulignement */
    padding: 5px 10px; /* espace autour du texte */  
}
nav a:hover {
    background-color: rgb(111, 136, 189); /* couleur de fond au survol */
    color: rgb(10, 10, 10); /* couleur du texte au survol */
    border-radius: 20px; /* arrondir les coins au survol */
}

/*========================================================POUR LE TITRE ET PARAGRAPHE=====================================================*/

h1{
    font-size: 40px;
}

/*========================================================POUR TOUT LES SECTION=====================================================*/

#Accueil{
    padding: 20px; /* espace intérieur des sections */
    background-color: rgb(140, 130, 190); /* couleur de fond des sections */
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;
}
#Projets, #CV{
    padding: 20px; /* espace intérieur des sections */
    background-color: rgb(140, 130, 190); /* couleur de fond des sections */
    border-radius: 20px;
    margin-top: 20px;
}
